.heroSection {
  position: relative;
  color: var(--black);
}
.boxHero1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: var(--clampRacine);
  padding: var(--clampRacine) 0;
  background-color: var(--color-bg-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  .boxPhoto {
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    .photo {
      width: 53%;
      //   background-color: brown;
      display: flex;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 100%;
        object-position: 50% 30%;
      }
    }
    .nom {
      font-size: 2em;
      font-weight: bold;
    }
  }
  .ligne {
    height: 3px;
    width: 90px;
    background-color: white;
  }
  .boxCTA {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    div:first-child {
      button {
        background-color: var(--black);
        color: var(--white);
        &:hover {
          background-color: var(--white);
          color: var(--black);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.35s;
        }
      }
    }
    > div {
      width: 40%;
      max-width: 282px;
      button {
        border: 2px var(--black) solid;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: transparent;
        color: var(--black);
        width: 100%;
        padding: 10px;
        font-size: larger;
        &:hover {
          background-color: var(--black);
          color: var(--white);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.35s;
        }
      }
    }
  }
  .ligneDeveloppeurWeb {
    display: none;
  }
  .boxIcones {
    width: 100%;
    height: 3.5em;
    background-color: var(--white);
    .icones {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      height: 100%;
      .icone {
        height: 100%;
        font-size: 1.35em;
      }
    }
  }
}
.boxHero2 {
  background-color: var(--color-bg);
  padding: var(--clampRacine) var(--clampRacine) var(--clampRacine)
    var(--clampRacine);
  position: relative;
  .boxCTA2 {
    display: none;
  }
}
.backSplashCouleur {
  z-index: -2;
  background-color: var(--color-bg);
  position: absolute;
  left: 0;
  right: 0;
  top: 350px;
  width: 100%;
  height: 400px;
}

@media (min-width: 900px) {
  .heroSection {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 180px 0;
    .boxHero1 {
      margin: 0;
      padding: var(--clampRacine) 0 0 0;
      .boxCTA {
        display: none;
      }
      .ligneDeveloppeurWeb {
        display: flex;
        font-size: 1.35em;
        margin: 10px 0 25px 0;
      }
    }
    .boxHero2 {
      max-width: 420px;
      padding: 60px;
      top: 0;
      background-color: transparent;
      .boxCTA2 {
        display: flex;
        gap: 16px;
        margin: 35px 0;
        div:first-child {
          button {
            background-color: var(--black);
            color: var(--white);
            &:hover {
              background-color: var(--white);
              color: var(--black);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 0.35s;
            }
          }
        }
        > div {
          width: 40%;
          max-width: 282px;
          button {
            border: 2px var(--black) solid;
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: transparent;
            color: var(--black);
            width: 100%;
            padding: 10px;
            font-size: larger;
            &:hover {
              background-color: var(--black);
              color: var(--white);
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 0.35s;
            }
          }
        }
      }
    }
    .backSplashCouleur {
      background-color: var(--color-bg);
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 40%;
    }
  }
}
