.topNav {
  display: flex;
  .navWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // background-color: tomato;
    padding: var(--clampRacine);
    // height: clamp(125px, 30vw, 200px);



    .buttonHamburger {
      padding: 0px;
      position: absolute;
      z-index: 1000;
      width: 70px;
      aspect-ratio: 1/1;
      height: 70px;
      // border-radius:30%;
      background-color: transparent;
      // transition: background-color 0.2s;
      &:hover {
        background-color: #758694b9;
      }

      .barre1 {
        position: absolute;
        height: 4px;
        width: 20px;
        background-color: white;
      }
      .barre2 {
        position: absolute;
        height: 4px;
        width: 40px;
        background-color: white;
      }
      .barre3 {
        position: absolute;
        height: 4px;
        width: 20px;
        background-color: white;
      }
    }
  }
  .bigPopOut {
    position: absolute;
    right: 0%;
    display: flex;
    justify-content: right;
    background-color: #213547;
    overflow: hidden;
  }
}

.bigMenuOverlay {
  top: 0%;
  left: 0%;
  width: 100%;
  //   background-color: tomato;
  color: white;
  .bigMenuOverlayWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .antoineColonne {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .icones {
        display: flex;
        align-items: center;
        margin: 20px;
        gap: 20px;
        .icone {
          font-size: clamp(2.5em, 2.5vw, 6em);
          &:hover {
            color: #b48484;
            transition-timing-function: cubic-bezier(.4,0,.2,1);
            transition-duration: 0.15s;
          }
        }
      }
    }
  }
  .bigMenu {
    // margin: 20px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    // flex-wrap: wrap;
    flex-grow: 1;
    > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      > div {
        margin: 16px;
        font-size: clamp(1em, calc(2.2vw + 2.2vh), 10em);
        &:hover {
          color: #b48484;
          transition-timing-function: cubic-bezier(.4,0,.2,1);
          transition-duration: 0.15s;
        }
      }
    }
    .MeRejoindre {
      display: flex;
      justify-content: end;
      align-self: flex-end;
      align-items: flex-end;
      margin: 20px;
      p {
        font-size: clamp(1em, calc(1vw + 1vh), 10em);
        background-color: #0e2c47;
        padding: 15px 45px 18px;
        margin: 0px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
        .fleche{
          font-size: 1.5em;
        }
        &:hover {
          background-color: #fff;
          color: #213547;
          transition-timing-function: cubic-bezier(.4,0,.2,1);
          transition-duration: 0.15s;
        }
      }
      @media (max-width: 768px) {
        p {
          padding: 15px 15px 18px;
        }
      }
    }
  }
}
// .bigMenuOverlay[data-isopen="false"]
// {
//     display: none;
// }

.relative {
  position: relative !important;
  // width: 100%;
  // height: 100%;
}
