.topNav {
  display: flex;
  .navWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--clampRacine);
    .wrapLogo{
      z-index: 1000;
      position: absolute;
    }
    .buttonHamburger {
      padding: 0px;
      position: absolute;
      z-index: 501;
      width: 70px;
      aspect-ratio: 1/1;
      height: 70px;
      // border-radius:30%;
      background-color: transparent;
      // transition: background-color 0.2s;
      &:hover {
        background-color: #758694b9;
      }
      .barre1 {
        position: absolute;
        height: 4px;
        width: 20px;
        background-color: white;
      }
      .barre2 {
        position: absolute;
        height: 4px;
        width: 40px;
        background-color: white;
      }
      .barre3 {
        position: absolute;
        height: 4px;
        width: 20px;
        background-color: white;
      }
    }
  }

  .bigPopOut {
    z-index: 500;
    position: absolute;
    right: 0%;
    display: flex;
    justify-content: right;
    background-color: var(--color-bg-menu);
    overflow: hidden;
  }
}

.bigMenuOverlay {
  z-index: 500;

  width: 100%;
  // background-color: tomato;
  // color: white;
  .bigMenuOverlayWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .antoineColonne {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .bigMenu {
        margin-top: 2.8em;
        > div {
          margin-left: 20px;
        }
      }
      .icones {
        display: flex;
        align-items: center;
        margin: 20px;
        gap: 20px;
        .icone {
          font-size: clamp(2.5em, 2.5vw, 6em);
          &:hover {
            color: #b48484;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.15s;
          }
        }
      }
    }
  }
  .bigMenu {
    // margin: 20px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    // flex-wrap: wrap;
    flex-grow: 1;
    > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-grow: 1;
      div {
        // margin: 8px 0px;
        padding: 16px 0px;
        font-size: clamp(0.5em, calc(1vw + 1.9vh), 10em);
        cursor: pointer;
        &:hover {
          color: #b48484;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.15s;
        }
      }
    }
    .MeRejoindre {
      display: flex;
      justify-content: end;
      align-self: flex-end;
      align-items: flex-end;
      margin: 20px;
      p {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
        font-size: clamp(1em, calc(1vw + 1vh), 10em);
        background-color: #0e2c47;
        padding: 15px 45px 18px;
        margin: 0px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
        .fleche {
          font-size: 1.5em;
        }
        @media (min-width: 768px) {
          &::before {
            content: "ME REJOINDRE";
          }
        }
        &:hover {
          background-color: #fff;
          color: #213547;
        }
      }
      @media (max-width: 767px) {
        p {
          padding: 15px 15px 18px;
        }
      }
    }
  }
}

.background {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: calc(2 * var(--clampRacine) + 70px);
  background-color: var(--white);
  // transition-duration: 0.2s;
  @media (min-width: 768px) {
    @media (hover: hover) {
      // si le navigateur supporte le hover (donc pas un mobile) alors on fait l'effet de hover opaque sur la barre du nav
      background-color: var(--white-transparent);
      // transition-duration: 0.2s;
      &:hover {
        background-color: var(--white);
        // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // transition-duration: 0.1s;
      }
      &.menu-ouvert {
        background-color: var(--white);
      }
    }
  }
}

// ajouter un padding pour éviter que le contenu ne soit caché par la barre du nav
.menuFiller {
  padding: var(--clampRacine);
  height: 70px;
}

header {
  flex: 0 1 auto;
}

.bar {
  // z-index: 2000;
  width: 100%;
  position: relative !important;
  // display: flex;
  // justify-content: right;
}

.relative {
  position: relative !important;
}
