.topNav
{
    display: flex;
    .navWrap
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // background-color: #e61818;
        padding: 20px;
        height: clamp(125px, 30vw, 200px);
        
        .carreNom{
            display: flex;
            align-items: center;
            gap: 20px;
            
            .carreCouleur{
                background-color: #b48484;
                height: 30px;
                width: 30px;
            }
            .nom{
                font-size: 2em;
                font-weight: bold;
            }
        }
        
        .titre {
            margin-top: 10px;
            text-transform: uppercase;
        }

        .mobileMenu{
            // display: none;
        }

        .button{
            background-color: rgba(114, 224, 197, 0.438);
            cursor: pointer;
            height: 35px;
        }
        
        .hamburger {
            --height: 6px;
            --width: 60px;
            --gapFactor: 0.5;
            background-color: white;
            position: relative;
            top: calc(var(--height) * 2);
            height: var(--height);
            width: var(--width);
        }
        .hamburger::before {
            content: " ";
            background-color: white;
            display: block;
            transform: translateY(calc(var(--height) * (-2 - var(--gapFactor))));
            height: var(--height);
            width: calc(var(--width) * 0.5);
        }
        
        .hamburger::after {
            content: " ";
            background-color: white;
            display: block;
            transform: translateY(calc(var(--height) * (1 + var(--gapFactor)))) translateX(calc(var(--width) * 0.5));
            height: var(--height);
            width: calc(var(--width) * 0.5);
        }

        @keyframes beforeAnimation {
            0% { transform: translateY(0); }
            50% { transform: translateY(10px); }
            100% { transform: translateY(0); }
          }
          
          @keyframes afterAnimation {
            0% { transform: translateX(0); }
            50% { transform: translateX(10px); }
            100% { transform: translateX(0); }
          }
          
    }

}
