.center {
  display: flex;
  justify-content: center;
}

.theme-toggle {
  --icon-fill: hsl(207, 34%, 67%);
  --icon-fill-hover: hsl(73, 74%, 44%);
  --size: 2rem;
  @media (hover: none) {
    --size: 48px;
  }
  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }
}

.sun-and-moon {
  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: var(--icon-fill);

    .theme-toggle:is(:hover, :focus-visible) > & {
      fill: var(--icon-fill-hover);
    }
  }

  & > .sun-beams {
    stroke: var(--icon-fill);
    stroke-width: 2px;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: var(--icon-fill-hover);
    }
  }

  [data-theme="dark"] & {
    & > .sun {
      transform: scale(1.75);
    }

    & > .sun-beams {
      opacity: 0;
    }

    & > .moon > circle {
      transform: translateX(-7px);

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
      }
    }
  }
}

.sun {
  transition: transform 0.5s ease;
}

​​.sun-and-moon {
  // @media (--motionOK) {
  & > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  & > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }

  [data-theme="dark"] & {
    & > .sun {
      transform: scale(1.75);
      transition-timing-function: var(--ease-3);
      transition-duration: 0.25s;
    }

    & > .sun-beams {
      transform: rotateZ(-25deg);
      transition-duration: 0.15s;
    }
  }
  // }
}

​​.sun-and-moon {
  // @media (--motionOK) {
  & .moon > circle {
    transform: translateX(-7px);
    transition: transform 0.25s var(--ease-out-5);

    @supports (cx: 1) {
      transform: translateX(0);
      cx: 17;
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] & {
    & > .moon > circle {
      transition-delay: 0.25s;
      transition-duration: 0.5s;
    }
  }
  // }
}
