:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* light mode */
  --main-color: hsl(207, 34%, 67%);
  --main-color-light: hsl(207, 34%, 74%);
  --main-color-dark: hsl(208, 37%, 20%);
  /* dark mode */
  --dark-main-color: hsl(207, 34%, 33%);
  --dark-main-color-light: hsl(207, 34%, 37%);
  --dark-main-color-dark: hsl(208, 37%, 20%);

  /* light & dark constants */
  --color-rouge: #b48484;
  --color-white: #f5f5f5;
  --color-black: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  --clampRacine: clamp(6px, 2vw + 1em, 200px);
}

[data-theme="light"] {
  --white: var(--color-white);
  --white-transparent: rgba(245, 245, 245, 0.8);
  --black: var(--color-black);
  --color-bg: var(--main-color);
  --color-bg-light: var(--main-color-light);
  --color-bg-dark: var(--main-color-dark);
  --color-bg-menu: #32516d;
}
[data-theme="dark"] {
  --white: var(--color-black);
  --white-transparent: rgba(26, 26, 26, 0.8);
  --black: var(--color-white);
  --color-bg: var(--dark-main-color);
  --color-bg-light: var(--dark-main-color);
  --color-bg-dark: var(--dark-main-color-light);
  --color-bg-menu: #213547;
}

* {
  transition-duration: 300ms;
  transition-property: background-color;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  background-color: var(--white);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0px;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  font-size: 1em;
}

/* Responsive utilities */

@media (min-width: 768px) {
  .md\:hiddenBeyond {
    display: none;
  }
}
@media (max-width: 768px) {
  .md\:hiddenBefore {
    display: none;
  }
}
