:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #000000; */
  /* light mode */
  --main-color: hsl(207, 34%, 67%);
  --main-color-light: hsl(207, 34%, 74%);
  --main-color-dark: hsl(208, 37%, 20%);
  /* dark mode */
  --dark-main-color: hsl(207, 34%, 33%);
  --dark-main-color-light: hsl(207, 34%, 37%);
  --dark-main-color-dark: hsl(208, 37%, 20%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  --clampRacine: clamp(6px, 2vw + 1em, 200px);
}


a {
  font-weight: 500;
  color: gray;
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  background-color: var(--white);
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  border: 0px;
  cursor: pointer;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  font-size: 1em;
}

button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}


/* Responsive utilities */

@media (min-width: 768px) {
  .md\:hiddenBeyond {
     display: none;
  }
}
@media (max-width: 768px) {
  .md\:hiddenBefore {
     display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --white: white;
    --black: black;
    --color-bg: var(--main-color);
    --color-bg-light: var(--main-color-light);
    --color-bg-dark: var(--main-color-dark);
  }
  body.dark{
    --white: black;
    --black: white;
    --color-bg: var(--dark-main-color);
    --color-bg-light: var(--dark-main-color);
    --color-bg-dark: var(--dark-main-color-light);
  }
  a:hover {
    color: var(--black);
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: black;
    --black: white;
    --color-bg: var(--dark-main-color);
    --color-bg-light: var(--dark-main-color);
    --color-bg-dark: var(--dark-main-color-light);
  }
  body.light{
    --white: white;
    --black: black;
    --color-bg: var(--main-color);
    --color-bg-light: var(--main-color-light);
    --color-bg-dark: var(--main-color-dark);
  }
  a:hover {
    color: #d1d1d1;
  }
  button {
    /* background-color: #1f1f1f; */
  }
}
